/* landing page and text*/
.lp{
	margin-bottom: 120px;
}
.lp p{
	float: left;
	font-family: "Montserrat", sans-serif;
	font-size: 60px;
	color: #fff;
	letter-spacing: 2px;
	padding-left: 60px;
	padding-top: 270px;
	list-style: none;
  	transform: translateX(-100rem);
  	animation: slideIn 1.5s forwards;
}
.s2{
	font-size: 20px;
}
/* slide show*/
/* Slideshow container */
.slideshow-container {
  float:right;
  max-width: 500px;
  position: relative;
  margin-top: 100px;
  z-index: -1;
}

/* The dots/bullets/indicators */
.dot {
  height: 5px;
  width: 20px;
  margin-top:670px;
  margin-left: 0px;
  margin-left: 10px;
  padding-left: 20px;
  background-color: #b3b3b3;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.activet{
	background-color:#fff;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 2s;
  animation-name: fade;
  animation-duration: 2s;
}

@-webkit-keyframes fade {
  from {opacity: .2} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .2} 
  to {opacity: 1}
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .text {font-size: 11px}
}

/*About Us*/

.mh{
	font-size: 60px;
	font-family: Montserrat;
	color: #fff;
	border-left: 2px solid #1dbfd7;
	margin-left: 60px;
	padding-left: 30px;
	margin-bottom: 30px;
}
.mh span{
	font-size: 60px;
	font-family: Montserrat;
	color: #1dbfd7;
}
.abtc img{
	float: left;
	margin: 60px;
	margin-bottom: 60px;

}
.abtc{
	margin-right: 60px;
	margin-top: 30px;
	margin-bottom: 150px;
}
.abtc1{
	font-size: 40px;
	font-family: Montserrat;
	color: #1dbfd7;
	text-align: justify;
	margin-right: 60px;
}
.abtc2{
	font-size: 20px;
	font-family: Montserrat;
	color: #fff;
	text-align: justify;
	line-height: 1.6;
}
/*Our Products*/
.op{
}
.mcar{
	padding-left: 35px;
	padding-right: 30px;
}
.container1 {
  float:left;
  position: relative;
  width: 300px;
  width: 300px;
  height: 300px;
  margin: 30px;
}

.container2 {
  float: left;
  position: relative;
  width: 300px;
  width: 300px;
  height: 300px;
  margin: 30px;
}

.container3 {
  float:left;
  position: relative;
  width: 300px;
  width: 300px;
  height: 300px;
  margin: 30px;
}

.container4 {
  float:left;
  position: relative;
  width: 300px;
  width: 300px;
  height: 300px;
  margin: 30px;
}

.image {
  display: block;
  width: 300px;
  height: auto;
}

.overlaye {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(255,255,255, 0.5);
  overflow: hidden;
  width: 300px;
  height: 0;
  transition: .5s ease;
  border-radius: 5px;
}

.container1:hover .overlaye {
  height: 100%;
}
.container2:hover .overlaye {
  height: 100%;
}
.container3:hover .overlaye {
  height: 100%;
}
.container4:hover .overlaye {
  height: 100%;
}

.text {
  color: #000;
  font-size: 18px;
  font-weight: bold;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}

.contained {
  background-color: #000;
  max-width: 1300px;
  margin-left: 110px;
  margin-bottom: 30px;
}
.example-boxop {
  margin-bottom: 50px;
  /* box-shadow: 0 2px 5px rgba(0,0,0,.4); */
  padding: 1em;
  border-radius: 12px;
  border: 1px solid #121212;
}
.boxop {
  font-family: Montserrat, sans-serif;
  color: #000;
  font-size: 26px;
  font-weight: bold;
  height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  border: 3px solid #000;
  border-radius: 8px;
}
/*Our Services*/
.os{
  padding-bottom: 600px;
}
.containeros{
  width: 400px;
  padding-left: 60px;
  padding-right: 30px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.containeros .boxos img{
  position: absolute;
  left: 40px;
  top: 40px;
  width: 3em;
  height: 3em;
  z-index: 1;
  opacity: 0.1;
  transition: 0.5s;
}
.containeros .boxos:hover img{
  opacity: 1;
  filter: invert(100%); 
    -webkit-filter:invert(100%); 
  transform: translateY(-20px);
}
.containeros .boxos{
  position: relative;
  width: 400px;
  background: #fff;
  padding: 80px 40px 40px 60px;
  box-shadow: 0 15px 45px rgba(255,255,255,0.1);
  border-radius: 5px;
  margin-bottom: 15px;
  margin-top: 15px;
}
.containeros .boxos:before{
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #1dbfd7;
  transform: scaleY(0);
  transform-origin: top;
  transition: transform 0.5s;
  border-radius: 5px;
}
.containeros .boxos:hover:before{
  transform: scaleX(1);
  transform-origin: bottom;
  transition: transform 0.5s;
}
.containeros .boxos h3{
  font-family: Montserrat, sans-serif;
  position: relative;
  font-size: 3em;
  z-index: 2;
  color: #000;
  transition: 0.5s;
}
.containeros .boxos:hover h3{
  color: #fff;
}
.containeros .boxos p{
  font-family: Montserrat, sans-serif;
  font-size: 2em;
  position: relative;
  z-index: 2;
  color: #333;
  transition: 0.5s;
}
.containeros .boxos:hover p{
  color: #fff;

}

.oss1{
  float: left;
}

.oss2{
  float: left;
}

.oss3{
  float: left;
}
/*Footer*/


.footer-distributed{
  background: #1f2020;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
  box-sizing: border-box;
  width: 100%;
  text-align: left;
  font: bold 16px sans-serif;
  padding: 55px 50px;
}

.footer-distributed .footer-left,
.footer-distributed .footer-center,
.footer-distributed .footer-right{
  display: inline-block;
  vertical-align: top;
}

/* Footer left */

.footer-distributed .footer-left{
  margin-top: 60px;
  width: 40%;
}


/* Footer links */

.footer-distributed .footer-links{
  color:  #ffffff;
  margin: 20px 0 12px;
  padding: 0;
}

.footer-distributed .footer-links a{
  font-family: Montserrat;
  display:inline-block;
  line-height: 1.8;
  font-weight:400;
  text-decoration: none;
  color:  inherit;
}

.footer-distributed .footer-company-name{
  font-family: Montserrat;
  color:  #fff;
  font-size: 14px;
  font-weight: normal;
  margin: 10px;
}

/* Footer Center */

.footer-distributed .footer-center{
  margin-top: 60px;
  width: 35%;
}

.footer-distributed .footer-center i{
  background-color:  #1dbfd7;
  color: #ffffff;
  font-size: 25px;
  width: 38px;
  height: 38px;
  border-radius: 50%;
  text-align: center;
  line-height: 42px;
  margin: 10px 15px;
  vertical-align: middle;
}

.footer-distributed .footer-center i.fa-envelope{
  line-height: 38px;
}

.footer-distributed .footer-center p{
  font-family: Montserrat;
  display: inline-block;
  color: #ffffff;
  font-weight:400;
  vertical-align: middle;
  margin:0;
}

.footer-distributed .footer-center p span{
  font-family: Montserrat;
  display:block;
  font-weight: normal;
  font-size:14px;
  line-height:2;
}

.footer-distributed .footer-center p a{
  font-family: Montserrat;
  color: #fff;
  text-decoration: none;;
}

.footer-distributed .footer-links a:before {
  font-family: Montserrat;
  content: "|";
  font-weight:300;
  font-size: 20px;
  left: 0;
  color: #fff;
  display: inline-block;
  padding-right: 5px;
}

.footer-distributed .footer-links .link-1:before {
  content: none;
}

/* Footer Right */

.footer-distributed .footer-right{
  margin-top: 60px;
  width: 20%;
}

.footer-distributed .footer-company-about{
  line-height: 0px;
  color:  #92999f;
  font-size: 13px;
  font-weight: normal;
  margin: 0;
}

.footer-distributed .footer-company-about span{
  font-family: Montserrat;
  display: block;
  color:  #ffffff;
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 30px;
}

.footer-distributed .footer-icons{
  margin-top: 25px;
}

.footer-distributed .footer-icons a{
  display: inline-block;
  width: 35px;
  height: 35px;
  cursor: pointer;
  background-color:  #1dbfd7;
  border-radius: 2px;

  font-size: 20px;
  color: #ffffff;
  text-align: center;
  line-height: 35px;

  margin-right: 3px;
  margin-bottom: 5px;
}

/* If you don't want the footer to be responsive, remove these media queries */

@media (max-width: 1000px) {
  .mp{
    width= 300px;
    height= 300px;
  }
  .footer-distributed{
    font: bold 14px sans-serif;
  }

  .footer-distributed .footer-left,
  .footer-distributed .footer-center,
  .footer-distributed .footer-right{
    display: block;
    width: 100%;
    margin-bottom: 40px;
    text-align: center;
  }

  .footer-distributed .footer-center i{
    margin-left: 0;
  }

}
form {
  font-family: Montserrat;
}

.containere {
  padding-top: 5px;
  padding-bottom: 5px;
  margin-bottom: 10px;
}

input[type=text], input[type=submit] {
  font-family: Montserrat;
  width: 100%;
  padding: 12px;
  border-radius:50px;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}


input[type=submit] {
  background-color: #1dbfd7;
  font-family: Montserrat;
  color: white;
  border: none;
}

input[type=submit]:hover {
  opacity: 0.8;
}